body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}
h1 {
    margin: 10px;
    color: orange;
    text-decoration: underline;
    font-weight: 600;
    line-height: 1.3;
}
h2 {
    margin: 10px;
    color: white;
    font-weight: 600;
    line-height: 1.3;
    padding:inherit;
    margin: inherit;
    background-color: gray;
}
h3 {
    margin: 10px;
    color: dimgray;
    font-weight: 600;
    line-height: 1.3;
    padding:inherit;
    margin: inherit;
    background-color: gray;
}
h4{
    color: gray;
}
ul{
    list-style: none;    
    padding: inherit;
    margin: inherit;
}
menu {
     padding:inherit;
    margin: inherit;
}
.nav li a{       
    color: whitesmoke;
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    margin: inherit;
    overflow: hidden;  
    display:block;
                  
}
.nav > li{
    float:left;  
}

.categories {
    font-family:sans-serif;
    float: right;
    width: 22%;
}
.pa1 {
    float: left;
    width: 50%;
}
.pa2 {
    float: left;
    width: 50%;
}

.center {
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
    text-align: justify;
    padding: 5px;
    padding-bottom: 270px;
}

.n {
    border: 1px solid orange;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    background-color: orange;
    padding: 5px;
    padding-bottom: 30px;
    float: right;
}

p {
    margin: 10px;
}

.linea{
    transform: rotate(90deg);
    float: right;
    width: 22%;
    line-height: inherit;
    margin-top: 150px;
    
}
.pie{
    color: white;
    padding:inherit;
    margin: inherit;
    background-color: gray;
}
.b{
    color: orange;
    text-decoration: underline;
}
li {
    color: orange;
}